<div class="game-area-container">
    <div class="game-menu-block">
        <button id="start" 
                class="start-game-button" 
                [disabled]="isDisabled" 
                (click)="startGame()">Start</button>
        <div class="game-time-block">
            <mat-form-field class="game-time" appearance="fill" *ngIf="timer$ | async as time">
                <mat-label>Timer:</mat-label>
                <input matInput placeholder="Ex. Pizza" [value]="time - 1" readonly>
            </mat-form-field>       
        </div>
        <div class="game-score-block">
            <mat-list class="game-score-items">
                <mat-list-item *ngIf="playerScore$ | async as playerScore">
                    Player: {{playerScore}}
                </mat-list-item>
                <mat-divider [vertical]="true"></mat-divider>
                <mat-list-item *ngIf="computerScore$ | async as computerScore">
                    Computer: {{computerScore}}
                </mat-list-item>
            </mat-list>     
        </div>
    </div>
    <div class="game-area-block" appSquare>
        <div *ngFor="let square of squares">
            <app-square [id]="square"></app-square>
        </div>
    </div>
</div>