.game-area-container {
    margin: 0 auto;
    width: 600px;
    height: 600px;
}

.game-menu-block {
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
}

.start-game-button {
    width: 100px;
    border-radius: 5px;
    border: none;
}

.start-game-button:hover {
    background-color: rgb(224, 224, 224) !important;
    cursor: pointer !important;
}

.game-score-block {
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.game-time-block {
    max-height: 40px;
    width: 70px;
}

.game-score-item {
    display: flex;
    justify-content: space-between;
}

.game-area-block {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-gap: 5px 5px;

    margin-top: 40px;
    margin-left: 30px;
    width: 500px;
    height: 500px;
}

.game-area-block :hover {
    cursor: pointer;
}

::ng-deep .mat-form-field-infix {
    width: 50px !important;
    padding: 2px !important;
}