.square {
    width: 50px;
    height: 50px;
    background: aqua;
    border-radius: 5px;
}

.missed-square {
    background: rgb(255, 95, 95);
}

.hit-square {
    background: yellow;
}

.active-square {
    background: #abf768;
}